# Chapter 4: Programming Fundamentals

Let us begin with simple computations in Python using +,-,* and / operators and functions.

In [50]:
import numpy as np
import pandas as pd
import math
import sympy

In [51]:
v = np.array([1,33,4,29,9,90])
gmean = (np.prod(v))**(1/len(v))
gmean

12.075621482045438

Commonly used functions like sqrt(),exp(), and log() are made available in the `math` package.

In [52]:
def geomean(v):
    gmean = (np.prod(v))**(1/len(v))
    return(gmean)

In [53]:
x = np.array([1,3,54,9,29,234,6,2,8,2456,2,8])
geomean(x)

13.520702172120803

In [54]:
d = np.array([2,4,63,6,3])
g = 1/d
hmean = len(d)/(np.sum(g))
hmean

3.949843260188088

In [55]:
def harmean(v):
  a = 1/v
  hmean = len(v)/(np.sum(a))
  return(hmean)

In [56]:
v = np.array([2,23,3456,1,4,6])
geomean(v)

12.500396862365385

In [57]:
harmean(v)

3.0605463611219847

In [58]:
v = np.array([4,6,23,6,375,9])
cutoff = 6
vsub = v[v>cutoff]
vsub

array([ 23, 375,   9])

In [59]:
len(vsub)

3

In [60]:
def vecsize(v, cutoff = 1):
  vsub = v[v>cutoff]
  return(len(vsub))

In [61]:
v = np.array([.2,5,2,.6,3,57,34,5])
vecsize(v,10)

2

In [62]:
vecsize(v)

6

In [63]:
vec1 = np.array([2,2,6,3,546,2346,22,34,7,21,4])
cutoff1 = 5
cutoff2 = 100 
vsub = vec1[(vec1>cutoff1) & (vec1<cutoff2)]
vsub

array([ 6, 22, 34,  7, 21])

In [64]:
def intermediate (vec1, cutoff1, cutoff2):
  vsub = vec1[(vec1>cutoff1) & (vec1<cutoff2)]
  return(vsub)

vec1 = np.array([2,2,6,3,546,2346,22,34,7,21,4])
intermediate(vec1,5,100)

array([ 6, 22, 34,  7, 21])

In [65]:
def intermediate (vec1, cutoff1, 
                           cutoff2):
  vsub = vec1[(vec1>cutoff1) & 
             (vec1<cutoff2)]
  return(vsub)

vec1 = np.array(
     [2,2,6,3,546,2346,22,34,7,21,4])
intermediate(vec1,5,100)

array([ 6, 22, 34,  7, 21])

In [66]:
student = pd.read_csv("../data/student.csv")
f1 = (student['gender']==0) & (student['prog']==3) & (student['math']>60)
f1

0      False
1      False
2      False
3      False
4      False
       ...
309    False
310    False
311    False
312    False
313    False
Length: 314, dtype: bool

In [67]:
x3 = student[f1]
print(x3.head())

       id  gender  math  prog  daysabs
88   1089       0    84     3        4
164  2007       0    71     3        0
166  2009       0    71     3        0
168  2011       0    77     3        2
172  2015       0    65     3        1

## Factor Variables

In [68]:
arthritis = pd.read_csv("../data/Arthritis.csv")
arthritis.head()

   Unnamed: 0  ID Treatment   Sex  Age Improved
0           1  57   Treated  Male   27     Some
1           2  46   Treated  Male   29     None
2           3  77   Treated  Male   30     None
3           4  17   Treated  Male   32   Marked
4           5  36   Treated  Male   46   Marked

In [69]:
arthritis['Sex'].value_counts()

Female    59
Male      25
Name: Sex, dtype: int64

In [70]:
arthritis[['Treatment','Improved']].value_counts().unstack()

Improved   Marked  None  Some
Treatment
Placebo         7    29     7
Treated        21    13     7

In [71]:
arthritis[['Treatment','Improved']].value_counts(normalize=True).unstack()

Improved     Marked      None      Some
Treatment
Placebo    0.083333  0.345238  0.083333
Treated    0.250000  0.154762  0.083333

In [72]:
arthritis.groupby('Improved')['Treatment'].value_counts(normalize=True).unstack()

Treatment   Placebo   Treated
Improved
Marked     0.250000  0.750000
None       0.690476  0.309524
Some       0.500000  0.500000

In [73]:
arthritis.groupby('Treatment')['Improved'].value_counts(normalize=True).unstack()

Improved     Marked      None      Some
Treatment
Placebo    0.162791  0.674419  0.162791
Treated    0.512195  0.317073  0.170732

In [74]:
df3 = arthritis[['Sex','Treatment','Improved']].value_counts().unstack()[['None','Some','Marked']]
df3

Improved          None  Some  Marked
Sex    Treatment
Female Placebo    19.0   7.0     6.0
       Treated     6.0   5.0    16.0
Male   Placebo    10.0   NaN     1.0
       Treated     7.0   2.0     5.0

In [75]:
#df4 = df3.reset_index(level='Improved')
#display(df4)
df4 = df3.unstack()
df4

Improved     None            Some          Marked
Treatment Placebo Treated Placebo Treated Placebo Treated
Sex
Female       19.0     6.0     7.0     5.0     6.0    16.0
Male         10.0     7.0     NaN     2.0     1.0     5.0

## Numeric Variables

In [76]:
whiteside = pd.read_csv('../data/whiteside.csv',index_col=0)
whiteside.head()

        Temp  Gas
Insul
Before  -0.8  7.2
Before  -0.7  6.9
Before   0.4  6.4
Before   2.5  6.0
Before   2.9  5.8

In [77]:
whiteside.groupby(['Insul'])['Temp'].agg(np.mean)

Insul
After     4.463333
Before    5.350000
Name: Temp, dtype: float64

In [78]:
whiteside.groupby(['Insul'])['Temp'].mean()

Insul
After     4.463333
Before    5.350000
Name: Temp, dtype: float64

## Conditionals

***Conditional Statements***

In [79]:
v = np.array([1,2,3,4])
if sum(v) == 10:
    print("Yes, the sum is 10.")

Yes, the sum is 10.

In [80]:
v1 = np.array([1,2,3,3])
if sum(v) == 10:
    print("Yes, the sum is 10.")
else:
    print("No, the sum is not 10.")

Yes, the sum is 10.

***Conditional Expressions***

In [81]:
v1 = np.array([2,36,83,2,5,7,2,9,3,12])
v2 = np.where(v1>=5,1,0)
print(v2)

[0 1 1 0 1 1 0 1 0 1]

In [82]:
whiteside = pd.read_csv('../data/whiteside.csv')
whiteside.head()

    Insul  Temp  Gas
0  Before  -0.8  7.2
1  Before  -0.7  6.9
2  Before   0.4  6.4
3  Before   2.5  6.0
4  Before   2.9  5.8

In [83]:
whiteside['hotcold'] = np.where(whiteside['Temp']<5, "cold", "hot")
whiteside.head()

    Insul  Temp  Gas hotcold
0  Before  -0.8  7.2    cold
1  Before  -0.7  6.9    cold
2  Before   0.4  6.4    cold
3  Before   2.5  6.0    cold
4  Before   2.9  5.8    cold

In [84]:
x = whiteside.groupby(['Insul','hotcold'])['Gas'].mean().reset_index()
x

    Insul hotcold      Gas
0   After    cold  3.88500
1   After     hot  2.68000
2  Before    cold  5.94000
3  Before     hot  4.00625

In [85]:
x.columns

Index(['Insul', 'hotcold', 'Gas'], dtype='object')

In [86]:
#x.rename(columns={'Insul':'Insulation','hotcold':'Weather','Gas':'Average_Gas_Consumption'}, inplace=True)
x.columns = ["Insulation","Weather", "Average_Gas_Consumption"]
x

  Insulation Weather  Average_Gas_Consumption
0      After    cold                  3.88500
1      After     hot                  2.68000
2     Before    cold                  5.94000
3     Before     hot                  4.00625

# Looping

***For Loops***

In [87]:
for i in range (1, 11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [88]:
for i in range (1,11):
    print (i*(i-1)*(i-2))

0
0
6
24
60
120
210
336
504
720

In [89]:
v1 = np.array([1,4,5,2,4,6,7,8,9,12,4,1,5,2])
v2 = v1
for i in range (1,len(v1)):
    v2[i]=v2[i-1]+v1[i]
v1

array([ 1,  5, 10, 12, 16, 22, 29, 37, 46, 58, 62, 63, 68, 70])

In [90]:
ans = []
a = 20
b = 30
for i in range(a,b+1):
    ans.append(np.mod(i,7))
#    ans.append(np.fmod(i,7))
ans

[6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2]

***Avoiding Loops with Vectorization***

In [91]:
x = np.arange(20,30+1)
y = np.mod(x,7)
y

array([6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2])

In [92]:
total = 0
v = np.array([1,4,2,5,73,4,5])
for i in range (len(v)-1):
    total = total + (v[i]*v[i+1])
total

699

In [93]:
v1 = v[:(len(v)-1)] 
v2 = v[1:len(v)]
total = sum(v1*v2) 
total

699

In [94]:
v1 = np.array([72,3,57,2,8,24,7])
v2 = np.array([])
n = len(v1)
for i in range (n):
    v2 = np.append(v2,v1[n-1-i])
v2

array([ 7., 24.,  8.,  2., 57.,  3., 72.])

***While Loops***

In [95]:
startnumber = 300
numprimes = 3
i = startnumber + 1
primi = 0
primevec = np.array([])
while primi<numprimes:
    if sympy.isprime(i):
        primi = primi+1
        primevec = np.append(primevec,i)
    i = i+1
print(primevec)

[307. 311. 313.]

In [96]:
def nextprimes(startnumber, numprimes):
    primi = 0
    i = startnumber + 1
    primevec = np.array([])
    while primi<numprimes:
        if sympy.isprime(i):
            primi = primi+1
            primevec = np.append(primevec,i)
        i = i+1
    return(print(primevec))
nextprimes(3,3)

[ 5.  7. 11.]

In [97]:
nextprimes(19,10)

[23. 29. 31. 37. 41. 43. 47. 53. 59. 61.]

In [98]:
nextprimes(9,3)

[11. 13. 17.]