# Chapter 4: Programming Fundamentals

In [1]:
import numpy as np
import pandas as pd
import math
import sympy

usedcars = pd.read_csv('../../data/UsedCars2017.csv')

# Exercises

1. Create a function that takes two numbers $x$ and $y$ and returns $x^3+y^3$.

In [2]:
def myfunction(x,y):
    return (x**3 + y**3)

myfunction(2,2)

16

2. Create a function that takes in a numeric vector. The function should do the following: (1) takes all values below the median and calculates the mean of these, (2) takes all values above the median and calculates the mean of these, and (3) return the difference in the value between the higher and the lower mean. Test it with a few vectors from the data sets.

In [9]:
def myfunction2(v):
    cutoff = np.median(v)
    lower = np.mean(v[v<cutoff])
    upper = np.mean(v[v>cutoff])
    
    return (upper - lower)

print(myfunction2(np.arange(1,11)))
print(myfunction2(usedcars["Price"]))
print(myfunction2(usedcars["MPG"]))

5.0
8316.971185064935
12.070544945074406

3. Create a function that takes in a numeric vector. The output should be a vector with running median values. The ith element of the output vector should be the median of the values in the input vector from 1 to i.

In [80]:
v = np.arange(1,11)

def myfunction3(v):

    v_med = np.zeros(v.shape[0])

    for idx, x in enumerate(v):
        #print(x)
        #print(idx)
        v_med[idx] = np.median(v[0:idx+1])

    return(v_med)

print(myfunction3(v))

[1.  1.5 2.  2.5 3.  3.5 4.  4.5 5.  5.5]

4. Create a function to return TRUE if a given integer is an element of a given vector. For example, a given vector is (1,3,5,7), if the given integer is 7, the function returns TRUE.

In [5]:
def myfunction4(v,n):
    if n in v:
        return True

In [6]:
myfunction4((1,3,5,7), 7)

True

5. Create a function that returns the total number of divisors that a certain integer has (other than 1 and itself). List all divisors.

In [81]:
n

NameError: name 'n' is not defined

In [7]:
def myfunction5(n):
    divisors = []
    for i in range (2, n):
        if n % i == 0:
            divisors.append(i)
    print (divisors)
    
    return np.sum(divisors)

In [8]:
myfunction5(6)

[2, 3]

5

6. Create a function which replaces the missing values in a vector with the median of the input vector and outputs the vector without any missing values.

In [9]:
def myfunction6(v):
    temp = []
    missing = []
    for index, element in enumerate(v):
        if np.isnan(element):
            missing.append(index)
        else:
            temp.append(index)
    v[missing] = np.median(v[temp])
    
    return v

In [10]:
sample = np.array([1,2,3,np.nan,5,6,np.nan])
myfunction6(sample)

array([1., 2., 3., 3., 5., 6., 3.])

7. Create a function which calculates the Euclidean distance between two points. The input of this function should be two vectors of form (x1,y1) and (x2,y2) and the output the calculation of the Euclidean distance. The formula for the Euclidean distance is $\sqrt{(x_1-x_2)^2+(y_1-y_2)^2}$

In [11]:
def myfunction7(a,b):
    return (np.sqrt(((a[0]-b[0])**2) + (a[1]-b[1])**2))

8. Create a function that takes in a numeric vector and returns the number of outliers. In this case, outliers are defined as values that are 'two standard deviations away from the median'. Test the function with the $\textbf{Salary}$ variable in the $\textbf{Baseball.csv}$ file.

In [12]:
baseball = pd.read_csv('../../data/Baseball.csv')
baseball.head()

       Name   Salary   Average
0      Matt   9500000    0.269
1       jim   8000000    0.282
2       jim   7333333    0.327
3      fred   7250000    0.259
4  jermaine   7166667    0.240

In [13]:
baseball.columns

Index(['Name', ' Salary ', 'Average'], dtype='object')

In [14]:
def myfunction8(data):
    n = len(data)
    median = np.median(data)
    deviations = [(x - np.mean(data)) ** 2 for x in data]
    variance = sum(deviations) / n
    std = np.sqrt(variance)
    
    outliers =[]
    for e in data:
        if np.abs(e-median) > 2*std:
            outliers.append(e)

    return outliers

In [15]:
myfunction8(baseball[' Salary '])

[9500000, 8000000, 7333333]