# Chapter 10 : Reality Check

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Helper functions imported from textbook
def p_rtail(sampdist,tstat): 
    points = sns.kdeplot(sampdist).get_lines()[0].get_data() # get x and y values from plot 
    x = points[0] 
    y = points[1] 
    plt.fill_between(x,y, where = x > tstat, color='r') 
    plt.fill_between(x,y, where = x <= tstat, color='g') 
    plt.show() 
    pvalue = np.sum(sampdist < tstat) / len(sampdist) 
    return pvalue 

def p_ltail(sampdist,tstat): 
    points = sns.kdeplot(sampdist).get_lines()[0].get_data() 
    x = points[0] 
    y = points[1] 
    plt.fill_between(x,y, where = x < tstat, color='r') 
    plt.fill_between(x,y, where = x >= tstat, color='g') 
    plt.show() 
    pvalue = np.sum(sampdist > tstat) / len(sampdist) 

    return pvalue 

def p_2tail(sampdist,tstat):
    points = sns.kdeplot(sampdist).get_lines()[0].get_data() 
    hyp = np.mean(sampdist) 
    cutoff1 = hyp - np.abs(hyp - tstat) 
    cutoff2 = hyp + np.abs(hyp - tstat) 
    x = points[0] 
    y = points[1] 
    plt.fill_between(x,y, where = (x < cutoff1) | (x > cutoff2), color='r') 
    plt.fill_between(x,y, where = (x >= cutoff1) & (x <= cutoff2), color='g') 
    plt.show() 
    pvalue = np.sum((sampdist < cutoff1) | (sampdist > cutoff2)) / len(sampdist) 
    return pvalue

In [3]:
#admission csv imported into the directory.
covid = pd.read_csv("CA COVID.csv")
covid.head(5)

,County,FACILITY NAME,COUNTY,FACILITY ID,AVAILABLE BEDS,AVAILABLE BEDS CAPABLE OF ISOLATION,NEW CONFIRMED POSITIVE RESIDENTS,CURRENT ACTIVE CASES RESIDENTS,CUMULATIVE POSITIVE RESIDENTS,COVID-RELATED RESIDENT DEATHS,NEW CONFIRMED POSITIVE HCW,CURRENT ACTIVE HCW,CUMULATIVE POSITIVE HCW,COVID-RELATED HCW DEATHS
0,Alameda,ALAMEDA COUNTY MEDICAL CENTER D/P SNF,ALAMEDA,140000321,7,4,0,0,86,0,0,<11,76,0
1,Alameda,ALAMEDA HEALTHCARE & WELLNESS CENTER,ALAMEDA,20000043,54,8,0,0,88,<11,0,0,55,0
2,Alameda,ALAMEDA HOSPITAL - SOUTHSHORE CONVALESCENT,ALAMEDA,630011864,1,1,0,0,<11,0,0,0,<11,0
3,Alameda,ALAMEDA HOSPITAL D/P SNF,ALAMEDA,140000686,3,1,0,0,<11,0,0,0,13,0
4,Alameda,ALL SAINT'S MAUBERT,ALAMEDA,630013891,2,0,0,0,0,0,0,0,<11,0

In [4]:
size = covid['AVAILABLE BEDS'] 

patients_I = covid['CUMULATIVE POSITIVE RESIDENTS '] 

patients_D = covid['COVID-RELATED RESIDENT DEATHS'] 

staff_I = covid['CUMULATIVE POSITIVE HCW '] 

staff_D = covid['COVID-RELATED HCW DEATHS '] 

df = pd.DataFrame(data = {'size':size, 'patients_I':patients_I, 'staff_I':staff_I, 'patients_D':patients_D, 'staff_D':staff_D}) 

df.head()

   size patients_I staff_I patients_D staff_D
0     7         86      76          0       0
1    54         88      55        <11       0
2     1        <11     <11          0       0
3     3        <11      13          0       0
4     2          0     <11          0       0

In [11]:
df['patients_D'].value_counts()

<11    618
0      232
11      47
12      38
14      32
13      32
15      30
18      24
17      21
16      19
21      17
19      17
22      12
20      11
29       8
23       7
30       6
24       6
27       5
34       5
25       5
26       5
38       4
32       3
28       2
43       2
37       2
114      1
39       1
35       1
40       1
64       1
65       1
50       1
36       1
42       1
71       1
49       1
31       1
33       1
Name: patients_D, dtype: int64

In [6]:
len(df[df['size'] != "0"])

1223

In [10]:
import scipy.stats 

scipy.stats.chisquare([166, 1201-166], [0.15*1201, 0.85*1201])

Power_divergenceResult(statistic=1.3075541623810225, pvalue=0.25283796546318715)