In [1]:
import pandas as pd
import numpy as np

In [2]:
#Transactions.csv moved into the folder for consistency in file input. Edit the file path as needed.
health = pd.read_csv("Health.csv")
health.head(5)

,ofp,ofnp,opp,opnp,emr,hosp,exclhlth,poorhlth,numchron,adldiff,...,west,age,black,male,married,school,faminc,employed,privins,medicaid
0,5,0,0,0,0,1,0,0,2,0,...,0,6.9,1,1,1,6,2.8810,1,1,0
1,1,0,2,0,2,0,0,0,2,0,...,0,7.4,0,0,1,10,2.7478,0,1,0
2,13,0,0,0,3,3,0,1,4,1,...,0,6.6,1,0,0,10,0.6532,0,0,1
3,16,0,5,0,1,1,0,1,2,1,...,0,7.6,0,1,1,3,0.6588,0,1,0
4,3,0,0,0,0,0,0,0,2,1,...,0,7.9,0,0,1,6,0.6588,0,1,0

Exercise 1
1. Consider the Health.csv file. Conduct the following tests on the variable ofp (which captures the number of office visits by patients).  

a. Number of office visits is less than or equal to 5 

b. Number of office visits is more than or equal to 6 

c. Number of office visits is 5.5

In [10]:
#a. number of office visits is less than or equal to 5
lessthan5 = health[health.ofp<=5].shape[0]

In [11]:
print(lessthan5)

2733

In [12]:
#b. number of office visits is more than or equal to 5
morethan5 = health[health.ofp>=5].shape[0]
print(morethan5)

2011

In [14]:
#c. Number of office visits is 5.5
nodecimalvisits = health[health.ofp==5.5].shape[0]
print(nodecimalvisits)

0

2. Construct the 95% confidence interval for the average faminc (family income). What conclusion can you draw from it?

In [15]:
q1 = np.quantile(health.faminc, [.05/2, 1-(.05/2)])
confidence_interval = "[" + str(q1[0]) + "," + str(q1[1]) + "]" 
print(confidence_interval)

[0.384,9.280662500000002]

Confidence interval has a very large range, which means that the average family income of the sample is very widely distributed (large income gap)

3. Repeat problem 2, but this time compute the confidence interval for median family income.

In [22]:
import scipy.stats as st

print("median for verification")
print(np.median(health.faminc))
st.t.interval(alpha=0.95, df=len(health.faminc)-1, loc=np.median(health.faminc), scale=st.sem(health.faminc))

median for verification
1.69815

(1.6117688983372855, 1.7845311016627146)

4. Compute the 90% confidence interval for median age in the data.

In [23]:
print("median for verification")
print(np.median(health.age))
st.t.interval(alpha=0.90, df=len(health.age)-1, loc=np.median(health.age), scale=st.sem(health.age))

median for verification
7.3

(7.284300787787581, 7.315699212212419)