# Summarizing and Visualizing

Let us begin with simple computations in Python using +,-,* and / operators and functions.

In [2]:
import numpy as np
import pandas as pd

weight = np.array([60,72,57,90,95,72])
height = np.array([1.75,1.8,1.65,1.9,1.74,1.91])
gender = np.array(["m","f","m","f","f","m"])
ghw  = pd.DataFrame({"gender":gender,"height":height,"weight":weight})
ghw

  gender  height  weight
0      m    1.75      60
1      f    1.80      72
2      m    1.65      57
3      f    1.90      90
4      f    1.74      95
5      m    1.91      72

In [3]:
ghw.iloc[0,0]

'm'

Commonly used functions like sqrt(),exp(), and log() are made available in the `math` package.

In [4]:
print(ghw.iloc[:,1:3])

   height  weight
0    1.75      60
1    1.80      72
2    1.65      57
3    1.90      90
4    1.74      95
5    1.91      72

In [21]:
ghw.iloc[1:5,:]

  gender  height  weight
1      f    1.80      72
2      m    1.65      57
3      f    1.90      90
4      f    1.74      95

In [22]:
ghw.iloc[:,0]

0    m
1    f
2    m
3    f
4    f
5    m
Name: gender, dtype: object

In [24]:
ghw.iloc[[0,2,5],1:3]

   height  weight
0    1.75      60
2    1.65      57
5    1.91      72

In [29]:
x = ghw.iloc[0:3,:]
x.shape

(3, 3)

In [31]:
0/0

ZeroDivisionError: division by zero

## Numeric Variables

In [11]:
# z = aggregate(whiteside$Temp,list(whiteside$Insul),mean)
whiteside = pd.read_csv('../data/whiteside.csv',index_col=0)
whiteside.head()

    Insul  Temp  Gas
1  Before  -0.8  7.2
2  Before  -0.7  6.9
3  Before   0.4  6.4
4  Before   2.5  6.0
5  Before   2.9  5.8

In [39]:
whiteside.groupby(['Insul'])['Temp'].agg(np.mean)

Insul
After     4.463333
Before    5.350000
Name: Temp, dtype: float64

In [23]:
whiteside.groupby(['Insul'])['Temp'].mean()

Insul
After     4.463333
Before    5.350000
Name: Temp, dtype: float64